


body{
    background-color: blueviolet;
    animation-name: color;
    animation-duration: 4s;
}


 h1{
font-size: 300%;
color:darkorange;
font-style: italic;
text-align: center;
}

#contenedor_juegos{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 200px;
}
h2{
  color: aqua;
  text-align: center;
  font-size: 30px;
}

h3{
  color: aqua;
  text-align: center;
  font-size: 30px;
}


.tarjeta_juego1{
  width: 350px;
  height: fit-content;
  margin: 40px;
  border: 3px solid violet;
  padding: 10px;
  align-items: center;
  overflow: hidden;

}
  

.tarjeta_juego2 {
  width: 350px;
  height: fit-content;
  border: 3px solid violet;
  padding: 10px;
  align-items: center;
  overflow: hidden;
 
}
.tarjeta_juego1 .descripcion_juego{
  height: 50px;
  overflow: hidden;
 
}

.tarjeta_juego2 .descripcion_juego{
  height: 50px;
  overflow: hidden;
}

.tarjeta_juego1 img{
  width: 300px;
  height: 170px;
  margin-left: 25px;
}
  
 
.tarjeta_juego2 img{
  width: 300px;
  height: 160px;
  margin-left: 25px;
  
 }

#texto_juego1{
  color: chartreuse;
  font-size: large;
    
}
  
#texto_juego2{
  font-size: large;
  color: chartreuse;
    
}

.final{
  font-size:xx-large;
  text-align: center;
  font-style: italic;
  color:deeppink
}

@keyframes color {
  from {
      background-color:blueviolet;
  } 

  to {
    background-color:coral;
  }
    }

    
  

 
    
    
      
     
    
      
  
    


  








  

  



      
  
    
  

  
    
    
  
  
  
 

 
 



  